// category list on the top of page
.categorylist-wrap,
.taglist-wrap {
  margin: 3rem 0;

  .categorylist,
  .taglist {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;

    &__item {
      cursor: pointer;
      margin: 4px 3px;
      display: flex;

      &__link {
        background: var(--bg);
        padding: 0.5rem 1rem;
        border: 1px solid var(--text);
        text-decoration: none;
        color: var(--text);
        text-transform: uppercase;
        transition: all 0.6s;

        &:hover {
          background: var(--text);
          color: var(--bg);
        }
      }
    }
  }
}

//
// load more button in category/tag
//

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  margin: 2rem auto;
  cursor: pointer;

  .button {
    width: 100%;
    display: grid;
    place-items: center;
    background: $color-orange;

    h2 {
      text-transform: uppercase;
      text-align: center;
      padding: 4rem 2rem;

      a {
        font-family: "Big Shoulders Text", sans-serif;
        font-size: 2rem;
        text-decoration: none;
        color: $color-white;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          display: block;
          width: 100%;
          height: 2px;
          bottom: -4px;
          left: 0;
          background-color: $color-white;
          transform: scaleX(0);
          transition: transform 0.6s ease;
        }

        &:hover {
          color: $color-white;

          &::before {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}

//
// all categories list
//

.allcategories {
  position: relative;
  background-color: $color-orange;
  padding: 50px;
  margin-top: 70px;

  @include break($xlarge) {
    margin-top: 90px;
  }

  &__link {
    font-size: clamp(1.5rem, 0.9545rem + 2.7273vw, 3rem);
    text-decoration: none;
    color: $color-white;
    text-transform: uppercase;
    font-family: $heading;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      bottom: -4px;
      left: 0;
      background-color: $color-white;
      transform: scaleX(0);
      transition: transform 0.6s ease;
    }

    &:hover {
      color: $color-white;

      &::before {
        transform: scaleX(1);
      }
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
      margin-right: 2rem;
      position: relative;

      &:has(+ li) {
        &::after {
          content: "";
          color: $color-white;
          font-size: clamp(1.5rem, 0.7727rem + 3.6364vw, 3.5rem);
          position: absolute;
          top: 14px;
          right: -20px;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: $color-primary;

          @include break(600px) {
            top: 18px;
          }

          @include break($medium) {
            top: 23px;
          }

          @include break($large) {
            top: 29px;
          }
        }
      }
    }
  }
}

