nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: #ddd;
  width: 100%;
  padding: 1rem;

  .logo {
    display: flex;
    align-items: center;
  }

  .links {
    a {
      margin-right: 1rem;
    }
  }
}
