//
// main navigation on page
//

.navigation-container {
  position: fixed;
  z-index: 990;
  width: 100%;
  top: 0;

  @include break(320px, 991px) {
    .navigation {
      width: 100%;
      padding: 1em;
      background: rgba($color-primary, 1);
      z-index: 49;
      will-change: transform;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      &__toggle {
        display: block;
        border-radius: 5px;
        background-color: transparent;
        float: right;
        height: 38px;
        width: 38px;
        cursor: pointer;
        padding: 8px 8px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        &.open span:first-child {
          transform: rotate(45deg) translate(4.4px, 4.4px);
        }

        &.open span:nth-child(2) {
          width: 0%;
          opacity: 0;
        }

        &.open span:last-child {
          transform: rotate(-45deg) translate(4.4px, -4.4px);
        }

        span {
          position: relative;
          display: block;
          height: 2px;
          width: 100%;
          margin-top: 4px;
          background-color: $color-secondary;
          transition: all 0.25s;
        }
      }

      &__menu {
        height: 0;
        overflow: hidden;
        transition: all 0.8s ease-out;
        z-index: 50;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__item {
          padding: 1.5rem 1rem;
          font-size: 1rem;
          color: $color-secondary;
          text-transform: uppercase;
          text-decoration: none;
          width: 100%;
          text-align: center;
          -webkit-tap-highlight-color: $color-orange;

          button {
            outline: none;
            border: none;
            background-color: transparent;
            color: $color-white;
            letter-spacing: 0.2rem;
            font-size: 1.2em;
            text-transform: uppercase;
            cursor: pointer;

            svg {
              width: 2rem;
              height: 2rem;
            }
          }
        }

        .switch-wrap {
          width: 100%;

          .switch {
            padding: 1.5rem 1rem;
            color: $color-secondary;
            text-transform: uppercase;
            text-decoration: none;
            width: 100%;
            text-align: center;
            background-color: transparent;
            color: $color-white;
            cursor: pointer;
            -webkit-tap-highlight-color: $color-orange;

            svg {
              width: 2rem;
              height: 2rem;
            }
          }
        }

        &.collapse {
          height: 100vh;
        }
      }
    }
  }

  @include break($large) {
    .navigation__menu {
      display: flex;
      justify-content: flex-end;
      background: rgba($color-primary, 0.9);

      &__item {
        display: flex;
        align-items: center;
        // padding: 2rem;
        text-decoration: none;
        transition: all 0.6s;

        button {
          outline: none;
          border: none;
          background-color: transparent;
          color: $color-secondary;
          // padding: 0.725em 0;
          letter-spacing: 0.2rem;
          font-size: 1.1rem;
          text-transform: uppercase;
          cursor: pointer;
          padding: 2rem;

          svg {
            width: 1.6em;
            height: 1.6em;
          }

          &.active {
            background: $color-orange;
            color: $color-white;
          }
        }

        &:hover {
          background: $color-orange;

          button {
            color: $color-white;
          }
        }
      }

      .switch {
        display: flex;
        align-items: center;
        padding: 2rem;
        text-decoration: none;
        transition: all 0.6s;
        background-color: transparent;
        color: $color-secondary;
        letter-spacing: 0.2rem;
        font-size: 1.1rem;
        text-transform: uppercase;
        cursor: pointer;

        svg {
          width: 1.6em;
          height: 1.6em;
        }

        button {
          outline: none;
          border: none;
          background-color: transparent;
          color: $color-secondary;
          letter-spacing: 0.2rem;
          font-size: 1.1rem;
          text-transform: uppercase;
          cursor: pointer;

          svg {
            width: 1.6em;
            height: 1.6em;
          }
        }

        &:hover {
          background: $color-orange;
          color: $color-white;
        }

        .small {
          padding: 0.725rem 2rem !important;
        }
      }

      .small {
        padding: 0.725rem 2rem !important;
      }
    }

    .navigation__toggle {
      display: none;
    }
  }
}

//
// secondary navigation
//

.secondary-nav {
  height: 170px;
  width: 50px;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  overflow: hidden;
  z-index: 33;

  &__trigger {
    transition: all 0.6s;
    z-index: 33;
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 2rem;
    right: 2rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: $color-primary;
    color: $color-secondary;
    opacity: 1;
    border: 1px solid #fff;

    &::before,
    &::after {
      transition: transform 0.3s ease-out;
    }

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 20px;
      margin-left: -10px;
      margin-top: -1px;
      border: 1px solid $color-secondary;
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      height: 20px;
      margin-left: -1px;
      margin-top: -10px;
      border: 1px solid $color-secondary;
    }

    &.is-open {
      &::before,
      &::after {
        transition: transform 0.6s ease-out;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(45deg);
      }
    }
  }

  ul {
    width: 50px;
    right: 2rem;
    bottom: 80px;
    visibility: hidden;
    list-style: none;
    transform: translateY(100%);
    transition: all 0.6s ease-out;
    opacity: 0;

    &.is-visible {
      visibility: visible;
      transform: translateY(0%);
      opacity: 1;
    }
  }

  &__item {
    display: flex;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $color-primary;
    align-items: center;
    justify-content: center;
    color: $color-secondary;
    cursor: pointer;
    border: 1px solid #fff;

    svg {
      width: 2em;
      height: 2rem;
    }
  }
}
