@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@600&Poppins:wght@300;400;500;600;700;800;900&display=swap");

$color-primary: #000;
$color-secondary: #9a9a9a;
$color-white: #fff;
$color-orange: #ff3d00;
$color-black: #000;

$primary: "Poppins", sans-serif;
$heading: "Big Shoulders Text", sans-serif;

$small: 480px;
$medium: 769px;
$large: 993px;
$xlarge: 1200px;
